<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-12 col-md-6">
            <div class="alert alert-danger text-center" *ngIf="error">
                <p>{{ error }}</p>
            </div>
            <div class="text-center" *ngIf="isLoading">
                <app-dual-ring-spinner></app-dual-ring-spinner>
            </div>
            <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input type="email" id="email" class="form-control" placeholder="john.doe@gmail.com" ngModel name="email" required email>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" ngModel placeholder="******" name="password" required minlength="6">
                </div>
                <button class="btn btn-secondary mr-2" type="submit" [disabled]="!authForm.valid">{{ isLoginMode ? 'Login' : 'Sign-up' }}</button>
                <br>
                <div class="row">
                    <p class="mr-2 ml-3 mt-2">{{ isLoginMode ? 'Not a Member? ' : 'Already a Member? ' }}</p>
                    <a class="link mt-2" (click)="onSwitchMode()">{{ isLoginMode ? 'Sign-up' : 'Login'}}</a>
                </div>
            </form>
        </div>
    </div>
</div>