<div class="d-flex h-100 text-center text-white bg-dark">
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    
      <main class="px-3">
        <br>
        <h1>MovieLib.</h1>
        <br>
        <p class="lead">You must first Sign-up to gain access to the content</p>
        <!-- <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-black">Learn more</a>
        </p> -->
        <br>
      </main>
      <app-login></app-login>

    
      <!-- <footer class="mt-auto text-white-50">
        <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
      </footer> -->
    </div>
</div>
