<nav class="p-3 bg-dark text-white">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a routerLink="/" class="d-flex align-items-center mr-lg-5 mb-lg-0 text-white text-decoration-none">
                <i class="bi bi-film" style="font-size: 2rem"></i>
            </a>
            <ul class="nav mr-auto col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li *ngIf="isAuthenticated"><a routerLink="/home" class="nav-link px-2 text-white">Home</a></li>
                <li *ngIf="isAuthenticated"><a routerLink="/movies" class="nav-link px-2 text-white">Movies</a></li>
                <li *ngIf="isAuthenticated"><a routerLink="/favorites" class="nav-link px-2 text-white">Favorites</a></li>
                <li *ngIf="isAuthenticated"><a routerLink="/series" class="nav-link px-2 text-white">TV Series</a></li>
            </ul>

            <!-- <form *ngIf="isAuthenticated" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form> -->

            <!-- <div class="text-end" *ngIf="!isAuthenticated">
                <a routerLink="/login" type="button" class="btn btn-outline-light me-2">Login</a>
                <a routerLink="/signup" type="button" class="btn btn-warning">Sign-up</a>
            </div> -->
            <div *ngIf="isAuthenticated">
                <a routerLink="" (click)="onLogout()" class="nav-link px-2 text-white"><i style="color:red" class="bi bi-door-open"></i> Logout</a>
            </div>
        </div>
    </div>
</nav>
