.text-end a {
    margin: 0px 5px;
}

.form-control-dark {
    color: #fff;
    background-color: #212529;
    border-color: #6c757d;
}

.form-control-dark:focus {
    color: #fff;
    background-color: #212529;
    border-color: #fff;
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 25%);
}