
<div class="container">
    <div class="row">
        <ng-select class="col-xs-6 col-md-3" 
            [(ngModel)]="selectedGenreId"
            placeholder="filter by genre"
            (change)="filterByGenre()">
            <ng-option 
                *ngFor="let genre of genresList" 
                [value]="genre.id">{{genre.name}}</ng-option>
         </ng-select>
         <br>
        <p class="col-xs-6 col-md-9">
            <input 
                #query
                (keyup)="filterByName(query.value)"
                type="text" class="form-control" placeholder="Search...">
        </p>
    </div>
    
    <div class="spinner text-center" *ngIf="isLoading">
        <app-dual-ring-spinner></app-dual-ring-spinner>
    </div>
    <div class="row">
        <ng-container *ngFor="let item of mediaList | paginate: { itemsPerPage: 30, currentPage: p}; index as i">
            <div class="col">
                <div class="card my-4" style="width: 20rem">
                    <div class="card-block">
                        <img *ngIf="item.imagePath" [src]="item.imagePath" class="img-fluid mx-auto" alt="">
                        <h2 class="card-title p-4 text-center">{{ item.title }}</h2>
                        <p class="card-text px-4"><b>Release Date: </b>{{ item.releaseDate }}</p>
                        <p class="card-text px-4"><b>Popularity Rating: </b>{{ item.popularity }}</p>
                        <p class="card-text px-4 pb-4"><b>Movie Overview: </b><br>{{ item.overview }}</p>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    
    <pagination-controls *ngIf="!isLoading" class="text-center" (pageChange)="p = $event"></pagination-controls>
</div>