.body {
    background-color: #343a40;
}

.spinner {
    padding-top: 120px;
}

.card {
    border: none;
}

.card-block {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-title {
    font-family: 'Lato', sans-serif;
}

.card-text {
    font-family: 'Roboto', sans-serif;
}

/* .card {
    background-color: #343a40;
} */